In [80]:
import pandas as pd

datadir = '../data/'

In [81]:
data = pd.read_csv(datadir+'rawdata/datalogs_Participant3.csv')

labels = pd.read_csv(datadir+'labels/data_participtant3.csv')

In [82]:
data.tail()

,Time,Timestamp,X,Y,Z,Magnitude,Pressure
77985,14:47:32.211,1758.071686,0.398560,-0.724731,-0.618408,1.032722,975.008132
77986,14:47:32.228,1758.088745,0.398560,-0.724731,-0.618408,1.032722,975.008132
77987,14:47:32.246,1758.105804,0.398560,-0.724731,-0.618408,1.032722,975.008132
77988,14:47:32.263,1758.122925,0.398560,-0.724731,-0.618408,1.032722,975.008132
77989,14:49:40.486,1886.345886,0.635132,0.637329,-0.470947,1.015565,973.268729

In [83]:
labels.head()

    Elapsedtime    \tComment
0  00:00:22.818       \tNull
1  00:01:30.874    \tLift up
2  00:02:05.234       \tNull
3  00:02:38.001  \tLift down
4  00:02:52.869       \tNull

In [84]:
import datetime

def convert_timestamp_to_seconds(timestamp_str):
    # Parse the timestamp string to extract hours, minutes, seconds, and milliseconds
    timestamp_obj = datetime.datetime.strptime(timestamp_str, "%H:%M:%S.%f")
    
    # Calculate total seconds from the timestamp
    total_seconds = (timestamp_obj.hour * 3600) + (timestamp_obj.minute * 60) + timestamp_obj.second + (timestamp_obj.microsecond / 1000000)
    
    return total_seconds

In [85]:
for ind, row in labels.iterrows():
    time = convert_timestamp_to_seconds(row['Elapsedtime'])
    row['Elapsedtime'] = time

In [86]:
for ind, row in labels.iterrows():
    print(row[1])
    break

	Null

C:\Users\ravik\AppData\Local\Temp\ipykernel_5736\4256039138.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(row[1])

In [87]:
def map_label(timestamp):
    # Find the corresponding label for the given timestamp
    prev = -1.0
    for index, row in labels.iterrows():
        if timestamp <= row['Elapsedtime'] and timestamp >= prev:
            return row[1]
        prev = row['Elapsedtime']
    # If no matching label range is found, return a default label or handle as needed
    return 'Null'

In [88]:
trial = [32.987, 38.456, 45.534, 120.03, 125.03, 170.45, 205.0, 220.567]
for each in trial:
    print(map_label(each))
    #works fine

	Lift up
	Lift up
	Lift up
	Null
	Null
	Null
	Lift up
	Lift up

C:\Users\ravik\AppData\Local\Temp\ipykernel_5736\3919948953.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return row[1]

In [89]:
# Create a new 'label' column in sensor_data by mapping timestamps
data['label'] = data['Timestamp'].apply(map_label)

C:\Users\ravik\AppData\Local\Temp\ipykernel_5736\3919948953.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return row[1]

In [90]:
data.head(20000)

,Time,Timestamp,X,Y,Z,Magnitude,Pressure,label
0,14:18:14.309,0.168915,-0.505005,0.506226,0.711182,1.008501,976.095962,\tNull
1,14:18:14.329,0.188812,-0.505005,0.506226,0.711182,1.008501,976.095962,\tNull
2,14:18:14.354,0.213898,-0.510620,0.505005,0.715210,1.013552,976.092649,\tNull
3,14:18:14.371,0.230835,-0.510620,0.505005,0.715210,1.013552,976.092649,\tNull
4,14:18:14.389,0.248962,-0.510620,0.505005,0.715210,1.013552,976.092649,\tNull
...,...,...,...,...,...,...,...,...
19995,14:25:45.505,451.365601,-0.733276,0.636475,0.194336,0.990233,973.053975,\tLift down
19996,14:25:45.524,451.383942,-0.733276,0.636475,0.194336,0.990233,973.053975,\tLift down
19997,14:25:45.542,451.402344,-0.733276,0.636475,0.194336,0.990233,973.053975,\tLift down
19998,14:25:45.566,451.426025,-0.732788,0.631348,0.201172,0.987952,973.046453,\tLift down
19999,14:25:45.584,451.444458,-0.732788,0.631348,0.201172,0.987952,973.046453,\tLift down

In [91]:
# Save updated sensor_data with labels to CSV
data.to_csv(datadir+'labels/data_with_label3.csv', index=False)